# Help: https://github.com/pashky/restclient.el
# More examples: https://github.com/pashky/restclient.el/blob/master/examples/httpbin
# C-c C-v: same as C-c C-c, but doesn't switch focus to other window
# C-c C-u: copy query under the cursor as a curl command
# C-h e (view-echo-area-messages): print request header and body

:BASE_URL_GATE_API = http://localhost:8080

# Header
:REQUEST_HEADER = <<
Content-Type: application/json

# Actuator
GET :BASE_URL_GATE_API/actuator

# Actuator health
GET :BASE_URL_GATE_API/actuator/health

# Actuator info
GET :BASE_URL_GATE_API/actuator/info

#
GET :BASE_URL_GATE_API/actuator/prometheus

# Say hello
GET :BASE_URL_GATE_API/hello


# POST SERVICE


# Get all posts from Order Service
# 1. Send request to API-Gateway (port 8080)
# 2. Forward to order-service (port 8081)
# 3. В ответе должны быть HTTP-заголовки, связанные с rate limiting, например: X-RateLimit-Remaining: 19
# Get all posts
GET :BASE_URL_GATE_API/post

# Say hello from Order Service
# 1. Send request to API-Gateway (port 8080)
# 2. Forward to order-service (port 8081)
# 3. В ответе должны быть HTTP-заголовки, связанные с rate limiting, например: X-RateLimit-Remaining: 19
GET :BASE_URL_GATE_API/post/hello

# 1. Send request to API-Gateway (port 8080)
# 2. Forward to post-service (port 8081)
# 3. Get post by id
GET :BASE_URL_GATE_API/post/209

# 1. Send request to API-Gateway (port 8080)
# 2. Forward to post-service (port 8081)
# 3. Create new post without comments
POST :BASE_URL_GATE_API/post/create
:REQUEST_HEADER

{
  "title": "Title#1",
  "comments": []
}

# 1. Send request to API-Gateway (port 8080)
# 2. Forward to post-service (port 8081)
# 3. Create new post with 2 comments
POST :BASE_URL_GATE_API/post/create
:REQUEST_HEADER

{
  "title": "Title#2",
  "comments": [
    {
      "body": "Comments#1, Post with Title#2"
    },
    {
      "body": "Comments#2, Post with Title#2"
    }
  ]
}

# Delete post and whole it comments
DELETE :BASE_URL_GATE_API/post/209

# Delete comment by id from post
DELETE :BASE_URL_GATE_API/post/2/comment/2

# Check Elasticsearch (after run Docker container: docker compose -f elk-docker-compose.yml up -d)
GET http://localhost:9200

# Проверить Elasticsearch после запроса
GET http://localhost:9200/_cat/indices?v

# можно непосредственно искать лог
GET http://localhost:9200/microservices-logs-*/_search?pretty

# Проверить Kibana
GET http://localhost:5601

# Проверить конкретно через Elasticsearch
# Можно сделать более удобный запрос:
GET http://localhost:9200/microservices-logs-*/_search?pretty
:REQUEST_HEADER

{
    "query": {
      "match": {
        "message": "getPostById"
      }
    }
}


# Проверить Kibana
GET http://localhost:5601/api/status  