# Help: https://github.com/pashky/restclient.el
# More examples: https://github.com/pashky/restclient.el/blob/master/examples/httpbin
# C-c C-v: same as C-c C-c, but doesn't switch focus to other window
# C-c C-u: copy query under the cursor as a curl command
# C-h e (view-echo-area-messages): print request header and body

# Some generic vars
:BASE_URL_GATE_API = http://localhost:8080
:BASE_URL_ORDER_SERVICE = http://localhost:8081
:BASE_URL_USER_SERVICE = http://localhost:8082

# Header
:REQUEST_HEADER = <<
Content-Type: application/json

# Say hello
GET :BASE_URL_GATE_API/hello

# Say hello from Order Service
# 1. Send request to API-Gateway (port 8080)
# 2. Forward to order-service (port 8081)
# 3. В ответе должны быть HTTP-заголовки, связанные с rate limiting, например: X-RateLimit-Remaining: 19
GET :BASE_URL_GATE_API/orders/hello

# Say hello from User Service
# 1. Send request to API-Gateway (port 8080)
# 2. Forward to order-service (port 8081)
GET :BASE_URL_GATE_API/users/hello


# Order Service
GET :BASE_URL_ORDER_SERVICE/hello


# User Service
GET :BASE_URL_USER_SERVICE/hello